.carousel-container
  .container
    .row
      .brand-title
        .main-title FABE FAMILY SARI-SARI
        .sub-title A family-owned personalized POS

    .row
      .col-md-6
        .feature-block
          %h1
            %strong What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          %h1
            .btn.btn-primary.btn-flat Go Here

      .col-md-6
        .feature-block
          %h1
            %strong Why do we use it?
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          %h1
            .btn.btn-primary.btn-flat Go Here

