.carousel-container
  .container
    .row
      .brand-title
        .main-title FABE FAMILY SARI-SARI
        .sub-title A family-owned personalized POS
    %br
      %br
        %br
    .row
      .col-md-6
        .feature-block
          %h1
            %strong Responsive Design
          Take a look at what we mixed up in our Bootstrap test labs. Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor.
          %h1
            .btn.btn-primary.btn-flat Go Here

      .col-md-6
        .feature-block
          %h1
            %strong 2014 Trends
          With all of the front-end frameworks at hand, why does Bootstrap lead? Aliquam mauris arcu, tristique a, condimentum feugiat justo.
          %h1
            .btn.btn-primary.btn-flat Go Here

